<html>
<head>
<script src="angular.min.js"></script>
<script>
angular.module('myapp',[]).controller('myctl',function($scope){
$scope.firstname='';
$scope.lastname='';
$scope.users=[];

$scope.add=function(){
 $scope.users.push($scope.firstname + " " + $scope.lastname);
}
$scope.remove=function(){
$scope.users.pop($scope.firstname + " " + $scope.lastname);
}



});
</script>
</head>
<body 
<div ng-app="myapp" ng-controller="myctl">
<form name=:"shalini">
firstname:<input type="text" ng-model="firstname" required>
lastname:<input type="text" ng-model="lastname" required>
<button ng-click="add()">Add</button>
<button ng-click="remove()">remove</button>
<table>
<tr ng-repeat="y in users">
<td>{{y}}</td>

</tr>
</table>


</body>
</html>

